<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= employee.dob %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= employee.role %>
  </p>

  <p>
    <strong>Joining date:</strong>
    <%= employee.joining_date %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department_id %>
  </p>

</div>
