<p style="color: green"><%= notice %></p>

<h1>Employees</h1>
<%= current_employee.email%>
<br>
<div id="employees">
  <% @employees.each do |employee| %>
    <% if employee == current_employee %>
      <%= render employee %>
      
      <p>
        <%= link_to "Edit profile",edit_employee_path(id: current_employee.id)%>
      </p>
      
      <p>
        <%= link_to "Manage leaves", leaves_path %>
      </p>
    <%end%>
  <% end %>
</div>


